{% extends "base.html" %}
{% block contenido %}

<div class="container-fluid px-4">
    <h1 class="mt-4">{{ titulo }}</h1>

    <div class="card mb-4">

        <div class="card-body">
            <table id="datatablesSimple" class="table table-bordered">
                <thead>
                    <tr>
                        {% for col in columnas %}
                            <th>{{ col|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for col in columnas %}
                            <th>{{ col|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
                <tbody>
                    {% for fila in filas %}
                        <tr>
                            {% for valor in fila.values %}
                                <td>{{ valor }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
